############################
# Build / ROS2 / Colcon
############################
build/
install/
log/

############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class

############################
# Virtual environments
############################
venv/
.env/
.venv/

############################
# VSCode
############################
.vscode/

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# ROS2 generated
############################
*.log